@use 'variables' as *;

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: $bg;
  color: $text;
}

header {
  padding: 15px;
  border-bottom: 1px solid #ddd;

  a {
    text-decoration: none;
    color: $primary;
    font-weight: 600;
  }
}

main {
  padding: 20px;
}

.btn {
  &.btn-primary {
    background-color: $primary!important;
    border: 1px solid $primary!important;
  }
  &.btn-outline-primary {
    color: $primary!important;
    border: 1px solid $primary!important;
    &:hover {
      background-color: $primary!important;
      color: #fff!important;
    }
  }
}